* {
  font-family: Roboto, helvetica, sans-serif;
  padding: 0;
  margin: 0;
  zoom: 0.9;
}

body { /*artig liten grid/flex hack for å "nesten" midtstille men ha god plass til bildet under*/
  background-image: url(bg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: grid;
  font-size: 1.5em;
  height: 100vh;
  overflow: hidden;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-right: 5px solid #3881ff;
  color: #FFF;
}

header p{
  color: #3881ff;
  letter-spacing: 0.26em;
}

nav {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 35px;
  text-align: center;
}

nav a {
  color: #FFF;
  text-decoration: none;
  padding: 42px;
  margin-left: 15px;
}

nav a:hover {
  color: #3881ff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid
}

a::before {
  content: ''; /*cheaky liten "placeholder"*/
  background-image: url('walter.png'); /*mitt grelle ansikt*/
  background-position: 0 30%; /*hvor den starter og hvor høyt den slutter*/
  background-repeat: no-repeat;
  background-size: 50%;
  height: 48vh; /* verdi som bestemmer hvor høyt bilde regnes som et overlay og ikke kan klikkes gjennom*/
  left: 0; /*så det er helt klistret til siden av skjermen*/
  position: absolute;
  bottom: 0vh;
  width: 60vw; /* hvor lagt ut til siden bilde regnes som et overlay og ikke kan klikkes gjennom*/
  transform: translateY(100%);
  transition: transform .3s;
}

a:hover::before {
  transform: translateY(0px);
}


@media screen and (min-width: 1200px) /*pga noen har bittesmå steinalter laptops*/ {
  body {
    display: flex;
    justify-content: center;
  }
}
